* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

@font-face {
    font-family: "DM Sans";
    src: url('assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
}

:root {
    --Red-500: hsl(10, 79%, 65%);
    --Blue-300: hsl(186, 34%, 65%);
    --Brown-950: hsl(25, 47%, 15%);
    --Brown-400: hsl(28, 10%, 53%);
    --Red-100: hsl(26, 66%, 93%);

    --ff: "DM Sans";

    --fw-regular: 400;
    --fw-bold: 700;
}

body {
    font-family: var(--ff);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 4.5rem;
    background-color: var(--Red-100);
}

main {
    width: min(92%, 535px);
    min-width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;

    header {
        background-color: var(--Red-500);
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 0.5rem;
        color: white;
        width: 100%;

        .title {
            display: grid;
            gap: 0.5rem;

            h1 {
                font-size: 0.9rem;
                font-weight: var(--fw-regular);
    
                span {
                    font-size: 1.25rem;
                    font-weight: var(--fw-bold);
                }
            }

            button {
                width: max-content;
                border: none;
                padding: 0.15rem 0.75rem;
                border-radius: 0.25rem;
                background-color: white;
                color: var(--Red-500);

                &:hover {
                    background-color: var(--Red-100);
                }
            }
        }

        .logo {
            width: 70px;
        }
    }

    .graph-container {
        background-color: white;
        padding: 1.5rem 1rem;
        border-radius: 0.5rem;
        display: grid;
        gap: 1.5rem;
        width: 100%;

        h2 {
            color: var(--Brown-950);
        }

        canvas {
            width: 100%;
            border-bottom: solid 3px var(--Red-100);
            padding-block-end: 1rem;
        }

        section {
            display: flex;
            justify-content: space-between;
            color: var(--Brown-400);

            span {
                color: var(--Brown-950);
                font-weight: var(--fw-bold);
                line-height: 1.5;
            }

            .left span {
                font-size: 2rem;
            }

            .right  {
                align-self: self-end;
                text-align: right;
            }
        }
    }
}